extends layout
block styles
  link(rel='stylesheet', href='/plugins/datatables/css/dataTables.bootstrap.css')
block content
  .main
    div(ng-app='app')
      div(ng-view)
block scripts
  //- script(src='/plugins/datatables/js/jquery.dataTables.min.js')
  //- script(src='/plugins/datatables/js/dataTables.bootstrap.js')
  script(src='/bower/angular/angular.min.js')
  script(src='/bower/angular-route/angular-route.min.js')
  script(src='/js/app/app.js')
  script(src='/js/app/route-config.js')
  script(src='/js/app/lienhe/lienhe.js')
  script(src='/js/app/services/api-service.js')
    