doctype html
html(lang="en")
	head
		include partials/template/head.jade
		block styles
	body
		include partials/template/header.jade
		block content
		include partials/template/jsdefaults.jade
		block scripts