meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='description', content='Origin Admin - Bootstrap Admin Template')
meta(name='author', content='Łukasz Holeczek')
meta(name='keyword', content='Origin, Admin, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina')
link(rel='apple-touch-icon-precomposed', sizes='144x144', href='ico/apple-touch-icon-144-precomposed.png')
link(rel='apple-touch-icon-precomposed', sizes='114x114', href='ico/apple-touch-icon-114-precomposed.png')
link(rel='apple-touch-icon-precomposed', sizes='72x72', href='ico/apple-touch-icon-72-precomposed.png')
link(rel='apple-touch-icon-precomposed', sizes='57x57', href='ico/apple-touch-icon-57-precomposed.png')
//- link(rel='shortcut icon', href='/img/favicon.ico')
title 
	block title
link(rel='stylesheet', href='/css/bootstrap.min.css', id='bootstrap-style')
link(rel='stylesheet', href='/css/jquery.mmenu.css')
link(rel='stylesheet', href='/css/font-awesome.min.css')
link(rel='stylesheet', href='/plugins/jquery-ui/css/jquery-ui-1.10.4.min.css')
link(rel='stylesheet', href='/css/style.css')
link(rel='stylesheet', href='/css/add-ons.min.css')
link(rel='stylesheet', href='/css/themes.css')