script(src='/js/jquery-2.1.1.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/jquery.mmenu.min.js')
script(src='/js/core.min.js')
script(src='/plugins/jquery-cookie/jquery.cookie.min.js')