extends ../layout
block styles
  link(rel='stylesheet', href='/plugins/datatables/css/dataTables.bootstrap.css')
block content
  .main
    div(ng-app="app")
      div(ng-view)
block scripts
  script(src='/bower/angular/angular.min.js')
  script(src='/bower/angular-route/angular-route.min.js')
  script(src='/js/app/product/app.js')
  script(src='/js/app/product/route-config.js')
  script(src='/js/app/product/products.js')
  script(src='/js/app/services/api-service.js')

