extends ../layout
block content
  .main
      ul
        #orderId
          li
            Order number: #{orderId}
        li
          a(title='Dinner Destiny', href='#')
            strong Dinner Destiny
            span.cusines (American)
        li
          a(title='Eat Your Veggies Cafe', href='#')
            strong Eat Your Veggies Café
            span.cusines (Vegetarian)
        li
          a(title='Food Rendezvous', href='#')
            strong Food Rendezvous
            span.cusines (French)
        li
          a(title="Jeffrey's on the Square", href='#')
            strong Jeffrey's on the Square
            span.cusines (Italian)
        li
          a(title='Legume Palace', href='#')
            strong Legume Palace
            span.cusines (Indian, Vegetarian)
        li
          a(title='Pickles & Pepperoni Deli', href='#')
            strong Pickles & Pepperoni Deli
            span.cusines (Pizza, Sandwiches)
        li
          a(title='Picky Palate', href='#')
            strong Picky Palate
            span.cusines (Vegan, Macrobiotic)
        li
          a(title='Simply Safe', href='#')
            strong Simply Safe
            span.cusines (Comfort Food)
        li
          a(title='Supreme & Fancy Pizza', href='#')
            strong Supreme & Fancy Pizza
            span.cusines (Pizza)
        li
          a(title='Totally Fishy', href='#')
            strong Totally Fishy
            span.cusines (Seafood)
